body {
    margin-top: 20px;
}

.btn-right-side {
    float: right;
    margin: 0 2px 0 2px;
}

.done-task{
    color: green;
}

.not-done-task{
    color: red;
}

.deadline-text{
    color: brown;
}