{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
  <a class="btn btn-primary btn-right-side " href="{% url "task_manager:task-create" %}">
    Add task
  </a>
  </h1>
  
  {% if task_list %}
      {% for task in task_list %}
        <table class="table">
          <tr>
            <th>
              <p>
                {{ task.content }}
                {% if task.status is False %}
                  <span style="color: red">Not Done</span>
                  {% else %}
                  <span style="color: green">Done</span>
                {% endif %}
              </p>
              <p>
                Creates: {{ task.created }} 
                 {% if task.deadline %}
                   <span style="color: brown">Deadline: {{ task.deadline }}</span>
                {% endif %}
              </p>
              <p>Tags: 
                {% for tag in task.tags.all %}
                  {{ tag.name }}
                {% endfor %}
              <a href="{% url "task_manager:task-update" pk=task.id %}">Update</a> 
              <a href="{% url "task_manager:task-delete" pk=task.id %}">Delete</a>
              </p>
            </th>
          </tr>
        </table>
      {% endfor %}
  {% else %}
    <p>No task</p>
  {% endif %}
{% endblock %}
